@import colors
@import defaults

img
  &.splash
    width: 300px
    height: 300px
    display: block
    margin: 0 auto

  &.fathers-day
    max-width: 451px
    max-height: 400px
    width: 100%
    height: 100%
    display: block
    margin: 0 auto

ul
  margin-bottom: 45px

h1
  text-align: center

h2
  &.center
    text-align: center

p
  &.center
    width: 80%
    margin: 0 auto
    text-align: center

#signInForm
  .beta
    color: green
  .btn
    display: block
    margin: 10px auto 0

nav
  // don't particularly like this
  margin-bottom: 0 !important
  #navBrand
    margin-top: -12px
    width: 45px
    height: 45px

footer
  background: $footer_grey
  padding: 10px
  text-align: center
  color: $white
  p
    padding-top: 5px

