footer
  p MekManager is open source, you can view the source for this site&nbsp;
    a(href='https://github.com/MekManager/mekmanager_client', target='_blank') here
  p Read more about MekManager&nbsp;
    a(ng-href='#/about') here
  p Read our privacy policy&nbsp;
    a(ng-href='#/privacy') here
