div(class='form-group')
  label(for='userName') User Name
  input(class='form-control input-lg',
        type='text',
        placeholder='user name',
        id='userName',
        ng-model='home.form.user_name'
  )
