div(class='form-group')
  label(for='password') Password
  input(class='form-control input-lg',
        type='password',
        placeholder='password',
        id='password',
        ng-model='home.form.password'
  )
