nav(class='navbar navbar-inverse')
  div(class='container-fluid')
    div(class='navbar-header')
      button(type='button', class='navbar-toggle collapsed',
        data-toggle='collapse', data-target='#navCollapse'
      )
        span(class='sr-only') Toggle Navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand', ng-href='#/')
        img(src='/assets/img/starleague_light.png', alt='Main Menu', id='navBrand')
    div(class='collapse navbar-collapse', id='navCollapse')
      ul(class='nav navbar-nav')
        li
          a(ng-href='#/') Test link one
        li
          a(ng-href='#/') Test link two
