div(class='well')
  h5 Units:
  div(ng-repeat='u in units')
    p ID: {{ u.id }}
    p Variant Name: {{ u.variantName() }}
    p Chassis Name: {{ u.chassisName() }}
    p Variant ID: {{ u.variant_id }}
    p Condition: {{ u.condition }}/100
    hr
