h3 Privacy Policy

p Your privacy is important to us!
p.
  Here's the short of it. I'm a developer not a lawyer, and I like having things told to me
  straight, so I'll try to avoid any kind of legal-ese wherever I can in this privacy policy.

p.
  We at MekManager will never collect more information than is needed for the site to function.
  Further we will never abuse the information that we collect, by doing things like selling,
  leasing or otherwise distributing your information to third parties. The only reason that we
  would transfer any information to a third party is if we were required to do so by law.

p Here's the long of it:

h4 GNU terms
p.
  MekManager is licensed under the
  <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License v3.0.</a>

p MekManager is a campaign and RPG manager for Classic BattleTech
p Copyright (C) 2015 Eric Hopkins et al.
p.
  This program is free software: you can redistribute it and/or modify it under terms of the GNU
  General Public License as published by the Free Software Foundation either version 3 of the
  License, or (at your option) any later version.

p.
  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

p.
  You should have recieved a copy of the GNU General Public License along with this program.
  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.

h4 What we collect

p.
  We collect only what is required or a user to be authenticated and use the site. This includes
  three things. A user name, an email address, and a password. Aside from this required information
  you can voluntarily provide your actual first and last name.

  In the future we may ask for a preferred language if/when MekManager implements
  internationalization, this too would be voluntary information.

h4 What we do with collected information

p.
  The information we collect is used only for logging into MekManager. Further this information
  never leaves MekManager's servers. We won't sell, lease, or distribute your personal information,
  unless we are required to by law.

h4 Security

p.
  We are commited to ensuring that your information is secure. In order to prevent unauthorised
  access or disclosure we have put in place suitable physical, electronic and managerial procedures
  to safeguard and secure the information that we collect from our users.

h4 Cookies

p.
  Currently, MekManager doesn't make use of any cookies. If that changes, it will show up here
  in this privacy policy.

h4 Non-personal information

p.
  In the interest of full disclosure MekManager does share some non-personally identifying
  information with a third party. For tracking usage statistics MekManager makes use of Google
  Analytics. Again, we do not share any personally identifying information about our users with
  Google Analytics. In fact, the privacy policy of Google Analytics specifically prohibits it's
  customers (like MekManager) from sharing their users personal information with Google Analytics.
  If you are interested in reading the privacy policy of Google Analytics you can see it
  <a href="http://www.google.com/analytics/learn/privacy.html?h1=en_US" target="_blank">here</a>.

h4 Changes

p.
  We may have to update this privacy policy from time to time. This will always be in the interest
  of conveying to you exactly what we are doing with your information. While changes may be made
  to this privacy policy in the future, know that any changes won't break the core tenants of
  respecting your privacy, and not in any way distributing your personal information to a third
  party. Your continued use of MekManager will constitute your acceptance of any revision to
  this privacy policy.

h4 Contact

p.
  If you have any issues with our privacy policy, or just a question about it, you can contact me
  (the creator) directly at eric.on.tech@gmail.com, and I'll be happy to answer whatever questions
  or concerns you have.

p This privacy policy is effective as of: 05/16/2015.
