p.
  Hi, I'm <a target="_blank" href="https://in3d.github.io">Eric Hopkins</a>, and I've started the
  MekManager project. I've started it because more than any other reason, I really love BattleTech.
  I think it has a great community behind it, but I noticed that the community doesn't seem to have
  quite the same caliber of tools and utilities that other board games have come to expect. As a
  web developer, I realized that I'm in a very good position to do something about this. So I've
  started MekManager with the intention to make the best possible online utility for the BattleTech
  community.

h4 Why MekManager?

ul
  li.
    <b>Modern:</b> MekManager has been designed from the ground up to use the best technologies
    available for the web today. MekManager will be completely accessable from your phone, tablet,
    laptop or desktop.
  li.
    <b>Updated Rules:</b> A lot of existing battletech software is built around the old rules sets.
    MekManager will make it easy with the new Chaos Campaign rule set. Forget the cruft of the old
    campaign rulesand focus on the fun, playing BattleTech!
  li.
    <b>Persistant:</b> No longer worry about having your campaign data stored on some save file on
    your computer. And stop keeping it all in excel spreadsheets and old notebooks, MekManager
    will track it for you.
  li.
    <b>RPG Support:</b> A full character creator is planned. This has been one of the most elusive
    game aids in the BattleTech community, MekManager plans to get it right.
  li.
    <b>Community:</b> Your campaigns don't have to be isolated any more. You can now sell your
    unwanted chassis into a global market place (as opposed to thin air). You'll be able to trade
    Meks and pilots with fellow BattleTech players.
  li.
    <b>International:</b> Along with that community, it's not limited to one part of the world. A
    quick look at Google Trends shows that that along with the United States, Germany and Russia
    are in the top 3 countries that make BattleTech related searches.
  li.
    <b>Open:</b> MekManager is open source, that means that anyone is free and welcome to join in
    and help make it the best product possible. The technology involved in MekManager spans all
    over the map. If you have experience with back or front end programming, databases, and if not
    would you like to? Even if you aren't technical at all, if you notice bad data, find a typo
    or speak a language other than English and would like to help with translation,
    everything helps.
