splash

div(class='panel panel-default')
  div(class='panel-heading') Log in
  div(class='panel-body')
    form(class='form', id='signInForm')
      h4(ng-show='!home.loggedIn') If you are a beta tester, login here.
      h3(class='beta', ng-show='home.loggedIn') Congratulations! You're a beta tester!
      div(ng-show='!home.loggedIn')
        form-name
        form-password
        button(class='btn btn-success', ng-click='home.login()') Login

div(ng-show='home.loggedIn')
  unit-list(units='home.units')
