ul
  li
    b What is MekManager?
  li.
    MekManager will be a web application for managing BattleTech campaigns and
    RPG characters.
  li
    b How is it different than MegaMek, or MekHQ?
  li.
    MekManager actually draws heavily from MegaMek, but has a different direction and goals.
    MekManager strives to use the most up to date rules for BattleTech, in hopes of making
    BattleTech easier to get into for new players, and grow the community.
  li
    b How will MekManager work?
  li.
    Unlike MegaMek, MekManager does not run on your local machine, instead MekManager is a
    hosted web application. This means that you will be able to use MekManager from any
    device, and access your campaign.
p.
  Please note that MekManager is still in <b>very</b> early production, and will be for a
  while. If you'd like to help with the project in any way, you can find a link to the
  source code in the footer.
